@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #0b0420;
    --color-foreground: #f8f5ee;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: 'Noto Serif SC', serif;
  }
}
